:root {
    --primary-text-color: #FFFFFF;

    --bg: #151515;

    /* Icons from the view options */
    --enabled-bg: #515151;
    --enabled-inside: #FFFDF5;
    --disabled-bg: #303030;
    --disabled-inside: #515151;

    --card-bg: #303030;

    --footer-gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.light-mode {
    --card-bg: #FFFFFF;

    /* Icons from the view options */
    --enabled-bg: #939393;
    --enabled-inside: #515151;
    --disabled-bg: #D8D8D8;
    --disabled-inside: #C4C4C4;

    --bg: #F0F0F0;

    --primary-text-color: #515151;

    --footer-gradient: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
}

html {
    overflow-x: hidden;
    overflow-y: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 20px;
}

body {
    width: 1440px;
    height: 1024px;
}

/*
    ##########################################################################

    HEADER STYLING.

    ##########################################################################
*/

header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    z-index: 10;

    height: 94px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: linear-gradient(180deg, #5FE19B 0%, #36B972 50%, #0EA152 100%);
    box-shadow: 1px -3px 36px rgba(0, 0, 0, 0.5);
}

.logo__image {
    height: 34px;
    width: 267px;

    margin-left: 40px;
}

.search {
    background: #FFFFFF;
    border-radius: 4px;

    display: flex;
    align-items: center;

    margin-left: -136px;
}

.search__icon {
    margin: 15px 11px 14px 11px;
}

.search__input {
    outline: none;
    border: 0;

    margin-right: 8px;
    width: 314px;
}

.user {
    margin-right: 40px;
}

.user__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user__log-out {
    text-decoration: none;
    color: white;
    margin-right: 16px;
    word-break: keep-all;

    width: 66px;
    text-align: right;
}

.user__img {
    width: 48px;
    height: 48px;
}

/*
    ##########################################################################

    BELOW HEADER CONTENT STYLING.

    ##########################################################################
*/

main {
    position: relative;

    margin-top: 94px;

    background-color: var(--bg);
    color: var(--primary-text-color);

    display: grid;
    grid-template-areas: "below below below"
                         "aside games games";
}

.descriptions {
    grid-area: below;
}

.descriptions__text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.description-title {
    font-weight: 800;
    font-size: 3rem;
    line-height: 64px;

    margin-left: 40px;
    padding-top: 19px;
}

.switch {
    display: flex;
    align-items: center;

    padding-top: 19px;
    padding-right: 40px;
}

.switch p {
    width: 86px;
    height: 39px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#toggle-switch {
    margin-left: 13px;
}

.descriptions__options {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.descriptions__subtitle {
    font-size: 1.125rem;
    line-height: 24px;

    margin-left: 40px;
    margin-top: 2px;
}

.options-container {
    display: flex;
    justify-content: space-between;

    width: 104px;
    margin-right: 40px;
    margin-top: -5px;
}

.options-container svg:hover {
    cursor: pointer;
}

.cards-enabled-outer {
    fill: var(--enabled-bg);
}

.cards-enabled-inside {
    fill: var(--enabled-inside);
}

.cards-disabled-outer {
    fill: var(--disabled-bg);
}

.cards-disabled-inside {
    fill: var(--disabled-inside);
}

/*
    ##########################################################################

    GAMES CARDS STYLING.

    ##########################################################################
*/

.games-container {
    display: grid;

    grid-template-columns: repeat(3, 363px);
    grid-auto-rows: 314px;
    
    gap: 24px;
    margin-top: 24px;

    height: 788px;

    overflow-y: auto;
    grid-area: games;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: var(--card-bg);
    border: 1px solid black;
    border-radius: 20px;
}

.card {
    height: 314px;
    width: 363px;

    background: var(--card-bg);
    border-radius: 12px;
}

.card__image {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    width: 363px;
    height: 179px;
}

.first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 16px;
    margin-right: 16px;
    margin-top: 10px;
}

.game-title {
    font-weight: 700;
    line-height: 32px;
    font-size: 1.5rem;
}

.game-ranking {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 24px;

    color: #36B972;
}

.second-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
}

.text-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.date-release {
    margin-left: 19px;
}

.icon-container {
    justify-self: flex-end;
}

.icon-container svg {
    margin-right: 12px;
    margin-left: 12px;
}

.icon-container svg:last-child {
    margin: 0;
}

.icon-container svg:first-child {
    margin: 0;
}

.icon-color {
    fill: var(--primary-text-color);
}

.third-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-left: 16px;
    margin-right: 16px;
    margin-top: 4px;
}

.info-key {
    color: #939393;
}

.info-value {
    color: var(--primary-text-color);
}

.genres-margin {
    margin-left: 58px;
}

/*
    ##########################################################################

    GAMES GALLERY STYLING.

    ##########################################################################
*/

.gallery {
    width: 697px;
    height: 538px;

    margin-left: 228px;

    background: var(--card-bg);
    border-radius: 12px;
}

.gallery__image {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    width: 697px;
    height: 314px;
}

.date-release-gallery {
    margin-left: 10px;
}

.genres-key-margin {
    margin-left: 24px;
    margin-right: 10px;
}

.game-description {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 10px;

    font-weight: 500;
    font-size: 0.875rem;
    line-height: 19px;

    color: var(--primary-text-color);
}

/*
    ##########################################################################

    SIDEBAR STYLING.

    ##########################################################################
*/

.sidebar {
    margin-top: 24px;

    width: min-content;
    grid-area: aside;
}

/*

    Bottom of the page fade effect.

*/

.fade-effect {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    height: 100px;

    background: var(--footer-gradient);
}