:root {
    /* COLORS */
    --primary-text-color: #FFFFFF;

    --bg: #151515;

    /* Icons from the view options */
    --enabled-bg: #515151;
    --enabled-inside: #FFFDF5;
    --disabled-bg: #303030;
    --disabled-inside: #515151;

    --card-bg: #303030;

    --footer-gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));

    /* MARGINS */
    --margin-l-r: 40px;
}

.light-mode {
    --card-bg: #FFFFFF;

    /* Icons from the view options */
    --enabled-bg: #939393;
    --enabled-inside: #515151;
    --disabled-bg: #D8D8D8;
    --disabled-inside: #C4C4C4;

    --bg: #F0F0F0;

    --primary-text-color: #515151;

    --footer-gradient: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
}

html {
    overflow-x: hidden;
    overflow-y: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 20px;
}

body {
    max-width: 1440px;
    height: 1024px;
}

.background-modal {
    display: none;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    z-index: 5;

    background-color: black;
    opacity: 0.3;
}

/*
    ##########################################################################

    HEADER STYLING.

    ##########################################################################
*/

header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    height: 94px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: linear-gradient(180deg, #5FE19B 0%, #36B972 50%, #0EA152 100%);
    box-shadow: 1px -3px 36px rgba(0, 0, 0, 0.5);
}

.logo__image {
    height: 34px;
    width: 267px;

    margin-left: 40px;
}

.menu__burguer {
    display: none;
}

.menu__burguer:hover {
    cursor: pointer;
}

.search {
    position: relative;

    background: #FFFFFF;
    border-radius: 4px;

    z-index: 10;

    margin-left: -136px;
}

.search__form {
    display: flex;
    align-items: center;
}

.search__button {
    margin: 15px 11px 14px 11px;

    border: 0;
    background-color: transparent;

    display: grid;
    place-content: center;
}

.search__button:hover {
    cursor: pointer;
}

.search__input {
    outline: none;
    border: 0;

    margin-right: 8px;
    padding-top: 3px;
    width: 280px;

    font-size: 0.938rem;
    color: #3D3D3D;
}

.search__icon-clear {
    visibility: hidden;
    margin-right: 11px;
    margin-top: 1px;
}

.search__icon-clear:hover {
    cursor: pointer;
}

.search__results {
    position: absolute;
    left: 0;
    right: 0;
    top: 55px;

    background-color: white;

    list-style: none;

    max-height: 210px;
    overflow-y: scroll;
}

.search__results::-webkit-scrollbar {
    width: 10px;
}

.search__results::-webkit-scrollbar-thumb {
    background: var(--card-bg);
    border: 1px solid black;
    border-radius: 20px;
}

.search__results-item {
    text-decoration: none;

    padding: 10px 34px 10px 14px;

    color: #3D3D3D;
}

.search__results-item:hover {
    cursor: pointer;
}

hr {
    border: 0.5px solid #E1E1E4;

    margin-left: 8px;
    margin-right: 8px;
}

.search__results-item:last-of-type {
    border: 0;
}

.user {
    margin-right: 40px;
}

.user__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user__log-out {
    text-decoration: none;
    color: white;
    margin-right: 16px;
    word-break: keep-all;

    width: 66px;
    text-align: right;
}

.user__img {
    width: 48px;
    height: 48px;
}

/*
    ##########################################################################

    BELOW HEADER CONTENT STYLING.

    ##########################################################################
*/

main {
    position: relative;

    margin-top: 94px;

    background-color: var(--bg);
    color: var(--primary-text-color);

    display: grid;
    grid-template-areas: "below below"
                         "aside games";
}

.descriptions {
    grid-area: below;
}

.descriptions__text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.description-title {
    font-weight: 800;
    font-size: 3rem;
    line-height: 64px;

    margin-left: var(--margin-l-r);
    padding-top: 19px;
}

.switch {
    display: flex;
    align-items: center;

    padding-top: 19px;
    padding-right: var(--margin-l-r);
}

.switch p {
    width: 86px;
    height: 39px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#toggle-switch {
    margin-left: 13px;
}

.descriptions__options {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.descriptions__subtitle {
    font-size: 1.125rem;
    line-height: 24px;

    margin-left: var(--margin-l-r);
    margin-top: 2px;
}

.options-container {
    display: flex;
    justify-content: space-between;

    width: 104px;
    margin-right: var(--margin-l-r);
    margin-top: -5px;
}

.options-container svg:hover {
    cursor: pointer;
}

.cards-enabled-outer {
    fill: var(--enabled-bg);
}

.cards-enabled-inside {
    fill: var(--enabled-inside);
}

.cards-disabled-outer {
    fill: var(--disabled-bg);
}

.cards-disabled-inside {
    fill: var(--disabled-inside);
}

/*
    ##########################################################################

    GAMES CARDS STYLING.

    ##########################################################################
*/

.games-container {
    display: flex;
    flex-wrap: wrap;
    
    gap: 24px;
    margin-top: 24px;
    margin-left: 12px;

    height: 788px;

    overflow-y: overlay;
    grid-area: games;
}

.center-games {
    justify-content: center;
    margin-left: 0;
    padding-right: 90px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: var(--card-bg);
    border: 1px solid black;
    border-radius: 20px;
}

.card {
    position: relative;

    height: 314px;
    width: 363px;

    background: var(--card-bg);
    border-radius: 12px;
}

.card:hover {
    cursor: pointer;
}

.heart-icon {
    position: absolute;

    right: 13px;
    top: 14px;
}

.heart-icon:hover {
    cursor: pointer;
}

.card__image {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    width: 363px;
    height: 179px;

    object-fit: cover;
}

.first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 16px;
    margin-right: 16px;
    margin-top: 10px;
}

.game-title {
    font-weight: 700;
    line-height: 32px;
    font-size: 1.5rem;

    text-overflow: ellipsis;
    overflow: hidden;
}

.game-title-container {
    white-space: nowrap;
    overflow: hidden;

    max-width: 280px;
}

.game-ranking {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 24px;

    color: #36B972;
}

.second-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
}

.text-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.date-release {
    margin-left: 19px;
}

.icon-container {
    justify-self: flex-end;
}

.icon-container svg {
    margin-right: 6px;
    margin-left: 6px;
}

.icon-container svg:last-child {
    margin: 0 0 0 6px;
}

.icon-container svg:first-child {
    margin: 0 6px 0 0;
}

.icon-color {
    fill: var(--primary-text-color);
}

.third-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-left: 16px;
    margin-right: 16px;
    margin-top: 4px;
}

.info-key {
    color: #939393;
}

.info-value {
    max-width: 250px;

    color: var(--primary-text-color);

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.genres-margin {
    margin-left: 58px;
}

/*
    ##########################################################################

    GAMES GALLERY STYLING.

    ##########################################################################
*/

.gallery {
    position: relative;

    width: 697px;
    height: 538px;

    margin-left: 80px;

    background: var(--card-bg);
    border-radius: 12px;
}

.gallery:hover {
    cursor: pointer;
}

.gallery__image {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    width: 697px;
    height: 314px;

    object-fit: cover;
}

.date-release-gallery {
    margin-left: 10px;
}

.genres-key-margin {
    margin-left: 24px;
    margin-right: 10px;
}

.game-description {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 10px;

    font-weight: 500;
    font-size: 0.875rem;
    line-height: 19px;

    color: var(--primary-text-color);

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

/*
    ##########################################################################

    SIDEBAR STYLING.

    ##########################################################################
*/

.sidebar {
    margin-top: 24px;

    width: fit-content;
    grid-area: aside;

    color: var(--primary-text-color);
}

.sidebar__text-top {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 27px;

    margin-left: 40px;
    margin-right: 94px;
}

.sidebar__text-top:hover {
    cursor: pointer;
}

.sidebar__text-top:nth-last-of-type(3) {
    color: #36B972;
}

.sidebar__text-top:nth-last-of-type(2) {
    margin-top: 14px;
    margin-bottom: 14px;
}

.sidebar__second-row {
    margin-top: 37px;
}

.icon-text-container {
    display: flex;
    align-items: center;

    margin-left: 40px;
    margin-bottom: 17px;
}

.icon-text-container:last-of-type {
    margin-bottom: 0;
}

.icon-text-container__text {
    font-size: 1.125rem;
    line-height: 24px;

    margin-left: 10px;
}

.icon-text-container__text:hover {
    cursor: pointer;
}

.sidebar__popular-text {
    margin-left: 40px;
    margin-top: 55px;
    margin-bottom: 18px;

    font-weight: 700;
    font-size: 1.375rem;
    line-height: 29px;
}

#sidebar__last-searches:hover {
    cursor: pointer;
}

/*
    ##########################################################################

    GAME MODAL ON CLICK STYLING.

    ##########################################################################
*/

.modal-game {
    display: none;

    position: absolute;
    top: 111px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    width: 1076px;
    height: 793px;
    z-index: 20;

    background-color: var(--card-bg);
    border-radius: 24px;
}

.modal-image {
    width: inherit;
    height: 100%;

    position:absolute;

    border-radius: 24px;

    object-fit: cover;
} 

.modal-game__text-content {
    margin: 125px 0 0 35px;
    z-index: 25;

    color: var(--primary-text-color);
}

.bigger-icon {
    -webkit-filter: drop-shadow( 0px 0px 18px rgba(0, 0, 0, .7));
    filter: drop-shadow( 0px 0px 18px rgba(0, 0, 0, .7));
    filter: drop-shadow( 0px 0px 18px rgba(0, 0, 0, .7));

    width: 35px;
    height: 35px;

    margin-right: 20px;
}

.platforms-color {
    fill: white;
}

.text-content__title {
    color: white;

    font-weight: 700;
    line-height: 64px;
    font-size: 3rem;

    padding-top: 10px;

    text-shadow: 0px 0px 30px rgba(0, 0, 0, .7);
}

.text-content__achievements {
    padding-top: 10px;
}

.achievements {
    background: #FFFFFF;
    color: #515151;

    padding: 5px 14px 5px 14px;
    margin-right: 14px;
    border-radius: 62px;
}

.achievements__ranking {
    color: #36B972;
    font-weight: 800;

    padding-right: 5px;
}

.text-content__description {
    margin-top: 22px;

    max-height: 120px;
    overflow-y: scroll;
}

.text-content__description::-webkit-scrollbar {
    width: 10px;
}


.text-content__description::-webkit-scrollbar-thumb {
    background: transparent;
    border: 1px solid black;
    border-radius: 20px;
}

.text-content__buttons {
    display: flex;
    padding-top: 15px;
}

.buttons__wishlist {
    display: flex;
    align-items: center;

    font-weight: 700;
    line-height: 24px;
    font-size: 1.125rem;
    color: white;

    background-color: #4CC986;
    border: 0;
    border-radius: 6px;
    padding: 10px 25px 9px 46px;
}

.wishlist__image {
    padding-left: 12px;
}

.buttons__purchase {
    font-weight: 700;
    font-size: 1.125rem;
    color: #36B972;

    background-color: transparent;
    border: 2px solid #36B972;
    border-radius: 6px;

    padding: 5px;
    margin-left: 20px;

    width: 229px;
}

.text-content__extra {
    display: flex;
}

.extra__left {
    margin-top: 24px;
}

.left__text-container {
    margin-bottom: 22px;
    
    white-space: nowrap;
    overflow: hidden;
    max-width: 230px;
}

.left__text-container > label, p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 21px;
}

.text-label {
    color: #939393;
}

.text-info {
    text-overflow: ellipsis;
    overflow: hidden;

    margin-top: 6px;
    text-decoration: underline;
    color: var(--primary-text-color);
}

#release-date-text {
    text-decoration: none;
}

#website-text {
    text-decoration: underline;
    color: var(--primary-text-color);
    display: block;
}

#website-text:hover {
    cursor: pointer;
}

.extra__right {
    margin-top: 24px;
    margin-left: 18px;
}

.right__text-container {
    margin-bottom: 22px;
}

#age-text {
    text-decoration: none;
}

.right__icons-container {
    margin-top: 48px;
}

.icon-modal {
    padding-right: 12px;
}

.modal-game__media-content {
    z-index: 25;

    margin-top: 290px;
    margin-right: 32px;
    margin-left: 17px;
}

.media-content__screenshot-container {
    margin-top: 10px;
}

.media-content__screenshot:first-of-type {
    margin-right: 18px;
    margin-bottom: 14px;
}

.media-content__screenshot:nth-of-type(2) {
    margin-bottom: 14px;
}

.media-content__screenshot:nth-of-type(3) {
    margin-right: 18px;
}

#media-content__trailer {
    max-width: 390px;
    max-height: 217px;

    display: none;
    border:0;
}

#media-content__trailer-not {
    display: block;
}

.media-content__screenshot {
    width: 184px;
    height: 104px;
}

.background-modal-game {
    display: none;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    z-index: 15;

    background-color: black;
    opacity: 0.3;
}

.fade {
    height: 100%;
    width: 100%;

    position:absolute;
    z-index: 2;

    border-radius: 24px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--card-bg) 63.23%, var(--card-bg) 75.85%);
}

/*

    Bottom of the page fade effect.

*/

.fade-effect {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    height: 100px;

    background: var(--footer-gradient);
}

/*

    MEDIA QUERIES TABLET

*/

@media (max-width: 768px) {

    :root {
        --margin-l-r: 24px;
    }

    header {
        justify-content: center;
        height: 78px;
    }

    .search {
        margin-left: 0;
    }

    .menu__burguer {
        display: block;

        position: absolute;
        left: 24px;
        top: 0;
        bottom: 0;
        margin: auto 0;
    }

    main {
        margin-top: 78px;
        grid-template-areas:
        "below below"
        "games games";
    }

    .card {
        width: 351px;
    }

    .gallery {
        margin-left: 0;
    }

    .card__image {
        width: inherit;
    }

    /* ITEMS THAT I NEED TO DISAPPEAR */
    /* Hide scrollbar for Chrome, Safari and Opera */
    .user, 
    .sidebar, 
    .logo__image, 
    .games-container::-webkit-scrollbar {
        display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    .games-container {
        margin-left: 24px;
        gap: 18px;

        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .games-container.center-games {
        justify-content: center;
        padding-right: 0;
        margin-left: 0;
    }
}