:root {
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #5FE19B;
    --background-login-form: #303030;
    --bg-dark-icons: #515151;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo';
}

body {
    width: 1494px;
    height: 1062px;
}