:root {
    font-family: 'Exo';
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #4CC986;
    --background-login-form: #303030;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

/*

    --------------------------------------------------------
    Login page styling for the carousel icons and page logo.
    --------------------------------------------------------

*/

#bg-carousel {
    position: absolute;
    left: 0px;
    top: 0px;

    width: 1494px;
    height: 1062px;

    background: url('../resources/images/BG.png'), #C4C4C4;
}

#logo-login {
    position: absolute;
    left: 39px;
    top: 30px;

    width: 322px;
    height: 66px;
}

#left-chevron {
    position: absolute;
    left: 32px;
    top: 509px;
}

#right-chevron {
    position: absolute;
    right: 32px;
    top: 509px;

    transform: rotate(-180deg);
}

/* using the selector :nth-child() from javascript i can change the color of the image it is showing currently */
#bottom-slider {
    position: absolute;
    left: 687px;
    top: 995px;
}

/*

    --------------------------------------------------------
    Login form styling.
    --------------------------------------------------------

*/

#login-container {
    position: relative;
    left: 932px;
    top: 178px;

    width: 462px;
    height: 702px;

    background: var(--background-login-form);
    backdrop-filter: blur(10px);
    mix-blend-mode: hard-light;
    
    border-radius: 12px;
}

#login-container div {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 50px;
    right: 50px;

    color: var(--primary-text-color);
}

.sections {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.sections h1 {
    font-size: 1.25rem;
}

.sections #login-description {
    margin-top: 8px;
}