:root {
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #5FE19B;
    --background-login-form: #303030;
    --bg-icons: #515151;
    --btn-border: white;
    --remember-me-border: white;
}

.light-mode {
    --primary-text-color: #515151;
    --secondary-text-color: #36B972;
    --btn-border: #36B972;
    --remember-me-border: #8F8F8F;
    --bg-icons: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo';
}

body {
    width: 1440px;
    height: 1024px;
}

/*

    --------------------------------------------------------
    Login page styling for the carousel icons and page logo.
    --------------------------------------------------------

*/

#bg-carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    left: 0px;
    top: 0px;

    width: 100%;
    height: 100%;

    padding-top: 34px;

    background-image: url('../resources/images/BG.png');
    background-color: #C4C4C4;
    background-size: cover;
}

#logo-login {
    position: absolute;
    left: 39px;
    top: 30px;

    width: 322px;
    height: 66px;

    z-index: 3;
}

.left-container {
    display: flex;
    align-items: center;
}

#left-chevron {
    margin-left: 32px;
}

#right-chevron {
    margin-left: 25px;
    margin-right: 32px;

    transform: rotate(-180deg);
}

#left-chevron:hover,
#right-chevron:hover {
    cursor: pointer;
}

.circle-color {
    fill: var(--bg-icons);
}

.arrow-color {
    fill: var(--primary-text-color)
}

#bottom-slider {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 32px;
}

.dot-color {
    fill: var(--primary-text-color);
}

.right-side {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*

    Header for the lightmode styling.

*/

.not-show {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    height: 115px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    z-index: 2;

    display: none;
}

#show-header {
    display: block;
}

/*

    --------------------------------------------------------
    Login form styling.
    --------------------------------------------------------

*/

.login-container {
    position: relative;

    width: 462px;
    height: 702px;

    background-color: rgba(0, 0, 0, 0.35);
    
    border-radius: 12px;
}

#light-light {
    background-color: white;
}

.login-container.login-background {
    backdrop-filter: blur(5px);

    position: absolute;
    right: 99px;
}

.login-container__section {
    position: absolute;
    top: 40px;
    right: 50px;
    left: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-style: normal;
    font-weight: 400;
    color: var(--primary-text-color);
}

.login-container__section h1 {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 27px;
}

.login-container__section #login-container__description {
    font-size: 1rem;
    line-height: 21px;

    margin-top: 11px;
}

#form {
    display: flex;
    flex-direction: column;

    width: 100%;
}

#form input {
    border: 0;
    border-radius: 4px;

    box-sizing: border-box;

    height: 47px;
    margin: 0;
}

#form>input {
    margin-top: 36px;
    margin-bottom: 16px; 
}

input.form__text-input {
    padding-left: 16px;
    padding-right: 38px;

    font-weight: 400;
    font-size: 0.938rem;
    line-height: 20px;
    color: #3D3D3D;
    outline: none;
}

#form .form__text-input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 20px;

    color: #939393;
}

/*
    Checkbox styling.
*/

#form input[type="checkbox"] {
    width: 20px;
    height: 20px;

    margin:0;

    border: 2px solid var(--remember-me-border);
    border-radius: 4px;
}

#form input[type="checkbox"]:hover {
    cursor: pointer;
}

#form input[type="checkbox"]:not(:checked) {
    appearance: none;
}

#form input[type="checkbox"]:checked {
    filter: hue-rotate(305deg);
}

/*
    ----------------------------------
*/

#form__options {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 13px;
}

.form__remember { 
    display: flex;
    align-items: center;
}

#form__remember-text {
    font-size: 0.875rem;
    line-height: 19px;

    margin-left: 16px;
    padding-top: 1px;
}

#form__remember-text:hover {
    cursor: pointer;
    text-decoration: underline;
}

#form_forgot {
    font-size: 0.875rem;
    
    text-align: right;
    line-height: 19px;

    color: var(--secondary-text-color);
}

#form_forgot:hover {
    cursor: pointer;
    text-decoration: underline var(--secondary-text-color);
}

/*

    Styling for the password input.

*/

#form__password-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
}

.form__password {
    width: inherit;
    padding-right: 40px;

    color: #3D3D3D;
    font-style: normal;
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 20px;
}

.form__password.form__password-dots {
    font: large Verdana,sans-serif;
    padding-bottom: 5px;
}

input[type="password"]::placeholder {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 0.938rem;
    letter-spacing: 0px;
    line-height: 20px;

    padding-bottom: 50px;
}

#form__password-icon {
    position: absolute;

    right: 8px;

    transition: 0.1s ease-out;
}

#form__password-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.btn {
    border: 0;
    border-radius: 6px;

    color: white;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 24px;
    padding: 12px;
}

.btn:hover {
    cursor: pointer;
}

.btn__login {
    background-color: #4CC986;

    margin-top: 24px;
}

.form__register {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 32px;

    font-size: 0.875rem;
    line-height: 19px;
}

.form__register-button {
    padding-left: 5px;
    color: var(--secondary-text-color)
}

.form__register-button:hover {
    cursor: pointer;
    text-decoration: underline var(--secondary-text-color);
}

.login-or {
    display: flex;
    align-items: center;

    width: 100%;

    margin-top: 24px;

    font-size: 14px;
    line-height: 19px;
    text-align: center;
}

.login-or__text {
    width: 67px;
    color: var(--bg-dark-icons);
}

.login-or__line {
    width: 40%;
    border: 1px solid var(--bg-dark-icons);
}

.btn-socials {
    width: 100%;

    border: 2px solid var(--btn-border);
    border-radius: 6px;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    line-height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 9px 0 9px 0;
}

.btn-socials:nth-last-of-type(2) {
    margin-bottom: 24px;
}

.btn-socials:hover {
    cursor: pointer;
}

.btn-fb {
    margin-top: 29px;
    margin-bottom: 24px;
}

.btn-icon {
    position: absolute;
    left: 61px;
}